/node_modules
bot.json
twitch.json
ssl/craffel.de_ssl_certificate.cer
ssl/craffel.de_private_key.key
database/I2NyYWZmZWw=.sqlite
database/I3N1cGVybG9vdGdlaWw=.sqlite
database/Z2xvYmFs.sqlite
database/I2x1Y2FnYXZyYW4=.sqlite
database/I3RpbmVmcmVhaw==.sqlite
database/I2NyYWZmZWxtYXQ=.sqlite
