extends layout

block content
    script(src='/javascripts/error.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
            div Fehler!
    footer#sticky-footer.bg-dark.footer
        div.text-center