extends layout

block content
    script(src='/javascripts/error.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
            .card.border-danger.mb-3
                .card-header Fehler beim Anmelden bei Twitch angemeldet.
                .card-body.text-danger
                    h5.card-title Fehler
                    p.card-text
                    | Da muss unser Programmierer wohl nachmal dran. Würde er Gehalt bekommen, würde er es nun nicht mehr bekommen, das verspreche ich dir!
    footer#sticky-footer.bg-dark.footer
        div.text-center