extends layout

block content
    script(src='/javascripts/hero.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
            .dropdown.show
            a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Helden
            #list.dropdown-menu(aria-labelledby='dropdownMenuLink')
            div#hero
    footer#sticky-footer.bg-dark.footer
        div.text-center