extends layout

block content
    script(src='/javascripts/cookie.js')
    script(src='/javascripts/hero.js')
    
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
            .dropdown
                button#dropdownMenuLink.btn.btn-secondary.dropdown-toggle.w-100(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Held auswählen
                ul#list.dropdown-menu(aria-labelledby='dropdownMenuLink')
            div#information.pt-4.d-none
                div.row.pl-3.pr-3
                    .col-6.m-0
                        .container
                            h1#name.display-5
                            p.lead Name
                    .col-6.m-0.text-right
                        .container
                            h1#level.display-5
                            p.lead Level
                div.row
                    div.col-2
                    div.col-2
                        img.img-fluid(src='/images/character/sillhouette_man_472x591.jpg' width="236" height="296" alt="")
                    div.col-2
                    div.col-6
                        div.row.pl-3.pr-3
                            .col-4.m-0
                                .container
                                    h2#gold.display-5
                                    p.lead Gold      
                            .col-4.m-0
                                .container
                                    h2#experience.display-5
                                    p.lead Erfahrung 
                        div.row.pl-3.pr-3
                            .col-4.m-0
                                .container
                                    h3#goldMultipler.display-5
                                    p.lead Gold   
                            .col-4.m-0
                                .container
                                    h3#stealMultipler.display-5
                                    p.lead Diebstahl     
                            .col-4.m-0
                                .container
                                    h3#defenceMultipler.display-5
                                    p.lead Verteidigung
                #accordionExample.accordion
                    .card
                        #headingOne.card-header
                            button.btn.btn-block.text-left(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Gegenstände
                        #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                            .card-body
                                div#hero
                                button#heroSellItems.col-2.float-right.btn.btn-outline-secondary.d-none Auswahl verkaufen
    footer#sticky-footer.bg-dark.footer
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            div.navbar-nav
                a.m-4.nav-item.nav-link(href='impressum') Impressum 