extends layout

block content
    script(src='/javascripts/impressum.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
            strong Impressum
            p &nbsp;
            p Diese Webseite wurde privat erstellt und ist nach § 5 Abs. 1 des Telemediengesetzes (TMG) nicht zu einem Impressum verpflichtet. Es wird kein Umsatz durch Werbung oder andere Kaufoptionen erziehlt. Alle Funktionen stehen kostenlos und ohne Einschränkungen zur Verfügung. 
    footer#sticky-footer.bg-dark.footer
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            div.navbar-nav
                a.m-4.nav-item.nav-link(href='impressum') Impressum 