doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/footer.css')

        script(src='/jquery/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/layout.js')
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a#brand(href='/')
            img#navbar-image.navbar-image(src='/images/craffel.png' width="96" height="96" alt="")
            a#header.navbar-brand(href='/') Craffels Abenteuer
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                div.navbar-nav
                    a.nav-item.nav-link(href='/') Channel
                    a.nav-item.nav-link(href='hero') Held
                    a.nav-item.nav-link(href='object') Gegenstände
                    a.nav-item.nav-link(href='statistic') Statistiken
                    a.nav-item.nav-link(href='level') Level

    body
    block content