extends layout

block content
    script(src='/javascripts/level.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
    footer#sticky-footer.bg-dark.footer
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            div.navbar-nav
                a.m-4.nav-item.nav-link(href='impressum') Impressum 