extends layout

block content
    script(src='/javascripts/object.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4
    footer#sticky-footer.bg-dark.footer
        div.text-center