extends layout

block content
    script(src='/javascripts/twitch.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
            .card.border-success.mb-3
                .card-header Erfolgreich bei Twitch angemeldet.
                .card-body.text-success
                    h5.card-title Erfolgreich angemeldet.
                    p.card-text
                    | Du bist nun mit Twitch verbunden und kannst den Craffelmat auch für deinen Kanal aktivieren.
    footer#sticky-footer.bg-dark.footer
        div.text-center