extends layout

block content
    script(src='/javascripts/twitch.js')
    body.d-flex.flex-column
        div#container.container.mb-4.mt-4.pb-6
            div Erfolgreich angemeldet!
    footer#sticky-footer.bg-dark.footer
        div.text-center