doctype html
html
    script. 
        let twitch = "!{twitch}";
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/footer.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(rel='stylesheet', href='/stylesheets/element.css')

        script(src='/jquery/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.bundle.min.js')

        script(src='/javascripts/cookie.js')
        script(src='/javascripts/layout.js')

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container-fluid
                a#brand(href='/')
                    img#navbar-image.navbar-image(src='/images/craffel.png' width="96" height="96" alt="")
                a.navbar-brand(href='/') Craffels Abenteuer
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='/') Channel
                        li.nav-item
                            a.nav-link(href='hero') Held
                        li.nav-item
                            a.nav-link(href='object') Gegenstände
                        li.nav-item
                            a.nav-link(href='statistic') Statistiken
                        li.nav-item
                            a.nav-link(href='level') Level
                        li.nav-item
                            a#twitch.nav-link(href='/') Twitch
        div.alert.alert-dark 
            div.row
                div.col-5
                    .input-group
                        label.input-group-text Channel
                        input#header.form-control(type='text' readonly='')
                div.col-7
                    #account.input-group
                        label.input-group-text Account
                        input#userName.form-control(type='text' readonly='' aria-describedby='basic-addon2')
                        button#activate.btn.btn-success(type='button') Aktivieren
            body
        #toastBody.fixed-bottom.p-4
            .toast.bg-info.text-white.w-100.mw-100(role='alert' data-autohide='false')
                .toast-body.d-flex.flex-column.p-4
                    h4 Ich will Kekse
                    p 
                    | Wie jede Webseite speichern wir Daten in Form von Keksen, um dir ein geiles Erlebnis bieten zu können. 
                    | Wenn du unsere Seite nicht nutzen willst, klick bitte auf "Ablehnen".
                    | Wenn du keine Lust hast, das deine Daten an miesen Konzernen verkauft werden, dann klick bitte auf "Zustimmen", denn das machen wir nicht. 
                    | Wenn du meinst, dass diese Kekswarnung nicht richtlinienkonform ist, dann schau dir mal einige andere Webseiten an, was die falsch machen.
                    | Auf dieser Webseite kannst du dich mit Twitch verbinden, was dir für Kekse backen, zeigen die dir sicher auch schon wieder.
                    .btn-group.pt-4.w-25
                            button#btnDeny.btn.btn-outline-dark.mr-3(type='button') Ablehnen
                            button#btnAccept.btn.btn-outline-dark(type='button') Zustimmen

    block content